<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Echo</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':8000');

        socket.on('message', function(data) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(data));
            ul.appendChild(li);
        });

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var messagePrefix = getSelectedPrefix(); // Get selected prefix based on the radio checkbox
            var message = messagePrefix + messageInput.value;
            console.log('waesrewr',message)
            socket.emit('message', message);
            messageInput.value = '';
        }

        function getSelectedPrefix() {
            var acCheckbox = document.getElementById('acCheckbox');
            if (acCheckbox.checked) {
                return "AC";
            } else {
                return "DC";
            }
        }
    </script>

    <h1>WebSocket Echo</h1>
    <ul id="messages"></ul>
    
    <div>
        <label><input type="radio" name="prefix" id="acCheckbox" checked> AC</label>
        <label><input type="radio" name="prefix" id="dcCheckbox"> DC</label>
    </div>
    
    <input type="text" id="messageInput" placeholder="Type your message">
    <button onclick="sendMessage()">Send</button>
</body>
</html>
